DISCORD_BOT_TOKEN="COLE_O_TOKEN_DO_SEU_BOT_DO_DISCORD_AQUI"
PORT=26653

# Conexão Aiven Cloud MySQL
MYSQL_HOST="projectes-projectes.l.aivencloud.com"
MYSQL_PORT="25241"
MYSQL_USER="avnadmin"
MYSQL_PASSWORD="sua_senha_aqui"
MYSQL_DATABASE="defaultdb"

# JWT (mesmo do CRM web)
JWT_SECRET="um_segredo_jwt_super_seguro_e_aleatorio"
DATABASE_URL="mysql://avnadmin:sua_senha_aqui@projectes-projectes.l.aivencloud.com:25241/defaultdb"
