DISCORD_BOT_TOKEN="seu_token_do_discord_bot_aqui"
CRM_API_URL="http://localhost:3000"

# Conexão MySQL (Aiven Cloud)
MYSQL_HOST="projectes-projectes.l.aivencloud.com"
MYSQL_PORT="25241"
MYSQL_USER="avnadmin"
MYSQL_PASSWORD="sua_senha_do_aiven_aqui"
MYSQL_DATABASE="defaultdb"
